/* Amanda King */
body {
	background: #f9e933;
	font-size: 100%;
	font-family: 'Droid Sans', sans-serif;
}

h1, h2, h3, h4 {
	font-size: 100%;
	font-family: 'Ubuntu', sans-serif;
}

h1 {
	font-size: 300%;
	font-style: italic;
	font-weight: bold;
	color: gray;
	letter-spacing: 3px;
	padding-top: 5%;
	padding-bottom: 5%;
}

header, main, footer {
	min-width: 855px;
}

header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
}

header {
	background: white;
	overflow: auto;
}

header h1 {
	float: left;
	width: 570px;
}

header nav {
	float: right;
	padding-top: 5%;
	width: 285px;
}

main {
	background: white;
}

main h2, main p, main h3, main ul {
	float: left;
	width: 570px;
}

main h2 {
	font-size: 150%;
	font-weight: bold;
	letter-spacing: 3px;
	padding-bottom: 5px;
}

main h3 {
	font-size: 125%;
	font-weight: bold;
	padding-bottom: 5px;
	padding-top: 5%;
}

footer {
	padding-top: 5%;
}

footer h5 {
	padding-bottom: 3%;
}

footer p:first-of-type {
	font-style: italic;
	font-weight: bold;
	color: gray;
}

footer .contact {
	float: left;
	width: 570px;
}

footer .sitemap {
	width: 285px;
	float: right;
}

footer .container h5 {
	font-weight: bold;
}

footer a {
	text-decoration: none;
}